.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	header {
		background-color: rgb(64, 126, 64);
		padding: 0.25em 2em;

		.nav-links {
			display: flex;
			gap: 1em;

			a {
				background-color: rgb(182, 233, 182);
				padding: 0.15em 1em;
				border-radius: 0.25em;
				transition: 0.5s box-shadow;

				&:hover {
					box-shadow: 0 0 0.2em 0.3em rgb(89, 124, 228);
				}

				&.active {
					/* background-color: purple; */
					background-color: rgb(89, 124, 228);
					color: white;
				}
			}
		}

	}

	main {
		background-color: rgb(182, 233, 182);
		flex-grow: 1;
		padding: 0.25em 2em;
	}

}
